# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Pytest
.pytest_cache/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.egg-info/